:root {
    --white: #FFFDFF;
    --light: #9E9E9E;
    --dark: #333333;
    --danger: #D86661;
}

body {
    position: relative;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    background: linear-gradient(113.15deg, #FFFDFF 1.09%, #B8BAC2 100%);
    max-width: 1200px;
    min-width: 768px;
    height: 100vh;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

.nav {
    width: 65.3%;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.nav::-webkit-scrollbar {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 66%;
    height: calc(100% - 70px - 50px);
    margin-top: 20px;
    overflow-y: scroll;
}

.grid::-webkit-scrollbar {
    display: none;
}

.btn {
    text-decoration: none;
    color: var(--white);
    border: none;
    border-radius: 15px;
    margin: 0 5px;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background .3s ease-in;
}

.btn:hover,
.btn-active {
    background: var(--dark);
}

.btn-dark:hover,
.btn-dark-active {
    background: var(--light);
}

.btn-lg {
    width: 200px;
    height: 50px;
}

.btn-md {
    width: 280px;
    height: 45px;
}

.btn-sm {
    width: 45px;
    height: 45px;
}

.btn-space {
    margin: 5px 0;
}


.btn-dark {
    background-color: var(--dark);
}

.btn-light {
    background-color: var(--light);

}

.btn-red {
    background-color: var(--danger);
}

.card {
    display: block;
    text-align: center;
    height: 200px;
    width: 150px;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    margin: 17px;
}

.card-img {
    height: 90px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
    padding: 2px 0;
}

.card-price {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 2px 0;
}

.card-desc {
    font-size: .825rem;
    font-style: italic;
    padding: 2px 0;
    width: 150px;
}

.table {
    background-color: #fff;
    display: inline-block;
    width: 30%;
    height: calc(100% - 100px);
    border-radius: 20px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.table-container {
    position: relative;
    height: calc(100% - 60px);
}

.table-img {
    display: block;
    margin: 50px auto;
}

.table-title {
    background-color: #3333331a;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.table table {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    overflow-x: auto;
}

.table thead {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
}

.table tbody tr {
    margin: 12px 0;
    line-height: 20px;
    border-bottom: 1px solid #0000001A;
}


.table-left {
    text-align: left;
}

.table-right {
    text-align: right;
    padding-right: 8px;
}

.table-delete::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--danger);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 0;
}

.table-delete {
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-left: 10px;
}

.table-delete::after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    width: 8px;
    height: 2px;
    z-index: 0;
}

.table-footer {
    position: absolute;
    bottom: 0;
    left: 8px;
}

.table-total p {
    margin: 8px 10px 20px;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    font-size: 1.125rem;
}

.table-total span {
    position: absolute;
    right: 20px;
}

.table-plus {
    position: absolute;
    display: none;
    background-color: var(--danger);
    left: 0;
    right: 0;
    bottom: 60px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    width: 95%;
}

.show {
    display: block;
}

.hide {
    display: none;
}
