<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/styles.css">
    <title>Document</title>
</head>
<body>
<div class="page-section">
    <p>Charte graphique</p>
</div>
<div class="container">
    <p>■ Couleur 1</p>
    <p>■ Couleur 2</p>
    <p>■ Couleur 3</p>
    <p>■ Couleur 4</p>
    <p>■ Couleur 5</p>
</div>

<div class="page-section">
    <p>Bouton de navigation</p>
</div>
<div class="container">
    <button class="button">Bouton</button>
    <button class="selected button">Bouton</button>
</div>
<div class="page-section">
    <p>Bouton du menu</p>
</div>
<div class="container">
    <button class="button menu">Bouton</button>
    <button class="button menu red-button">Bouton</button>
    <button class="button menu selected">Bouton</button>
    <div class="menu profil-container">
        <img src="img.png" alt="" class="profil-pic">
        <p>PSEUDO</p>
    </div>
</div>
<div class="page-section">
    <p>Bouton du ticket</p>
</div>
<div class="container">
    <div class="card-container">
        <img src="img.png" alt="" class="card-img">
        <h3>Nom du produit</h3>
        <p>2€</p>
        <p>Description</p>
    </div>
    <button class="button button-ticket red-button">Bouton</button>
    <button class="button little-button red-button profil-pic">+</button>
</div>
<div class="page-section">
    <p>Format du logo</p>
</div>
<div class="container">
    <img src="img.png" alt="" class="little-logo">
    <img src="img.png" alt="" class="big-logo">
</div>





</body>
</html>


